a.homelink, a.pagesanchor {
	color: black;
	text-decoration: none;
}

.rightlink {
	text-decoration: none;
}
body {
	margin: 0;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

.container {
	height: 55px;
	background-color: lightgray;
	width: 100%;
	position: fixed;
}

li {
	display: inline-block;
}

ul.right {
	float: right;
	position: absolute;
	right: 5px;
	top: 16px;
	padding-right: 35px;
}

.post::after{
	content: " |";
}

section.search {
	padding-left: 100px;
	padding-top: 100px;
}

.searchform {
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	font-size: 13px;
	border: 1px solid lightgray;
	border-radius: 5px;
	padding: 7px;
	width: 500px;
}

input.submitbutton {
	width: 31px;
	border: 1px solid lightgray;
	border-radius: 5px;
	position: absolute;
	left: 620px;
}

section.pages {
	padding-left: 100px;
	padding-top: 50px
}

.pagesanchor, div.resultnumbers {
	border: 1px solid lightgray;
	padding: 8px;
	border-radius: 5px;
	font-weight: bold;
	display: inline-block;
}

section.results {
	padding-left: 60px;
	padding-top: 50px;
}

ul.results {
	font-weight: bold;
	color: #d4d4d4;
}

li.results {
	margin-right: 20px;
}

a.joblink {
	color: blue;
	text-decoration: none;
}